body {
    color: #292f33;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1em;
    margin: 0;
    padding: 0.8em 0.8em;
}

#header {
    background-color: #6165b5;
    border-bottom: 1px solid #e1e8ed;
    color: white;
    width: 100%;
}

#page {
    margin: auto;
    text-align: center;
    width: 100%;
}

.bloc {
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    box-shadow: 0 0 0.2em 0 rgba(255,255,255,0.6);
    color: #292f33;
    display: inline-block;
    margin: 1.5em 0.5em 0 0.5em;
    vertical-align: top;
}

.bloc h2 {
    border-bottom: 1px solid #e1e8ed;
    box-shadow: 0 1px 0 #fff;
    color: #66757f;
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin-top: 12px;
    height: 1em;
    overflow: auto;
    padding: 10px 12px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
    white-space: nowrap;
}

#error {
    border: 1px solid #a53337;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 0.2em 0 rgba(255,255,255,0.6);
    color: #a53337;
    margin: auto;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 60%;
}

#error p {
    margin: 0;
    padding: 8px;
}

#notifications {
    border: 1px solid #e1e8ed;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 0.2em 0 rgba(255,255,255,0.6);
    color: #292f33;
    margin: auto;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 60%;
}

#notifications p {
    margin: 0;
    padding: 8px;
}

#button_save {
    background-color: white;
    border: 1px solid #6165b5;
    border-radius: 5px;
    color: #6165b5;
    cursor: pointer;
    margin-left: 1em;
    padding: 0.5em 1em;

}

#button_save:hover {
    color: white;
    border: 1px solid white;
    background-color: #6165b5;
}

#result {
    text-align: left;
    width: 57%;
}

#empty {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

#stats {
    font-size : 0;
    margin-bottom: 12px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

.stats {
    display: inline-block;
    font-size: 14px;
}

#smiley img {
    max-width: 3em;
    width: 80%;
}

#feelings-bar {
    color: black;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
    width: calc(100% - 3em);
}

.feelings {
    display: inline-block;
    height: 100%;
}

#good {
    background-color: #b3e5b3;
    border-radius: 5px 0 0 5px;
    height: 34px;
}

#neutral {
    background-color: #e6e6e6;
    border-radius: 0 0 0 0;
    height: 34px;
}

#bad {
    background-color: #ff9999;
    border-radius: 0 5px 5px 0;
    height: 34px;
}

#legend div {
    display: inline-block;
}

#good_color {
    background-color: #b3e5b3;
    width: 20px;
    vertical-align: middle;
    height: 20px;
}

#neutral_color {
    background-color: #e6e6e6;
    width: 20px;
    vertical-align: middle;
    height: 20px;
}

#bad_color {
    background-color: #ff9999;
    width: 20px;
    vertical-align: middle;
    height: 20px;
}

#tweet-list {
    color: #292f33;
    font-size: 14px;
    line-height: 18px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#tweet-list li {
    border-top: 1px solid #e1e8ed;
    margin: 0;
    padding: 9px 20px;
}

#tweet-list p:nth-child(2) {
    text-align: right;
}

#search-config {
    width: 37%;
    height: 100%;
    font-size: 13px;
}

#search-config div {
    padding: 0 5% 10px 5%;
    text-align: left;
}

#search-config img {
    margin: 0;
    padding: 0;
    border: 0 solid white;
    height: 1em;
    vertical-align: middle;
}

#search-form-theme {
    background-color: #f5f8fa;
    border: 1px solid #e1e8ed;
    border-radius: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #292f33;
    display: inline-block;
    margin: auto;
    padding: 5px 12px;
    width: 100%;
}

.invisible {
    display: none;
}

.tweet_good {
    background-color: #d9f2d9; 
}

.tweet_neutral {
    background-color: #f0f0f5;
}

.tweet_bad {
    background-color: #ffcccc;
}